<h1>Listing All Articles</h1>

<p><%= link_to "New Article", new_article_path, class: "btn btn-primary" %></p>

<% @articles.each do |article| %>
  <div class="well well-lg">
    <h4><%= link_to article.title, article_path(article) %></h4>
    <% if article.user %>
      <small><strong>Created by:</strong> <%= article.user.email %></small><br />
    <% end %>
    <%= truncate(article.body, length:200) %>
  </div>
<% end %>
